[Unit]
Description=Motion server
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/bin/env node {{& path}}/dist/cli.js start
WorkingDirectory={{& path}}
User=root
Restart=on-failure

[Install]
WantedBy=multi-user.target
