[Unit]
Description=Motion server
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/bin/node /opt/motion-server/server/lib/server.js
WorkingDirectory=/opt/motion-server/server/
User=root
Restart=on-failure

[Install]
WantedBy=multi-user.target
